<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.bus.mapper.LeavebillCheckMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.star.bus.pojo.LeavebillCheck">
        <id column="id" property="id" />
        <result column="replyContent" property="replyContent" />
        <result column="checkUserId" property="checkUserId" />
        <result column="checkTime" property="checkTime" />
        <result column="leavebillId" property="leavebillId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, replyContent, checkUserId, checkTime, leavebillId
    </sql>

    <select id="findLeaveBillCheckListByLeaveBillId" resultType="com.star.bus.pojo.LeavebillCheck">
        select c.*,u.name checkPersonName From bus_leavebill_check c
        inner join bus_leavebill l on l.id=c.leavebillId
        inner join sys_user u on u.id=c.checkUserId
        where c.leavebillId=#{leavebillId}
        order by c.checkTime desc
    </select>

</mapper>
